<html>
    <head>
	<link rel="stylesheet" type="text/css" href="static\style.css">
    </head>
    <center>
    <body>
        <div class='title'>
        
            <h1>BANGLORE HOUSE PRICE PREDICTION</h1><br><br></div>
	
    
	



        
        <center>
        <form action={{url_for("home")}} method="post">
          
            location: <center> <select name="location">
                
                
               {% for i in data %}
                <option value='{{i}}'>{{i}}</option>
                {% endfor %} 
    
                </select></center><br><br>
          total_squarefeet: <center><input type="text" name='sqft'></center> <br><br>
          bathrooms: <center><input type="text" name='bath'></center> <br><br>
          bedrooms: <center><input type="text" name='bhk'></center> <br><br>
          <center><input type="submit" value="predict"></center> <br>

        </form></center>
   
    </body>
</html>